/exam/exam.iml
/exam/.idea
/exam/.settings
/exam/bin
/exam/.classpath
/exam/.project
/play/target
/play/.idea
/play/out
/play/thomas/target
/play/thomas/thomas.iml
/play/jonathan/jonathan.iml
/play/hubery/hubery.iml
/play/chi/chi.iml
/play/play.iml
